@font-face {
	font-family: 'Circular Medium';
	src: url(../fonts/circular/circular-medium.ttf);
}

@font-face {
	font-family: 'Circular Book';
	src: url(../fonts/circular/circular-book.otf);
}

@font-face {
	font-family: 'Circular Bold';
	src: url(../fonts/circular/circular-bold.otf);
}

@font-face {
	font-family: 'Circular Light';
	src: url(../fonts/circular/circular-light.ttf);
}

:root {
	--gray-med: #ddd;
	--grey-light: #f7f7f7;
	--grey-text-light: #717171;
	--grey-text-dark: #222;
	--pink: #ff385c;
}

* {
	box-sizing: border-box;
}

body {
    color: rgb(34, 34, 34);
    font-family: 'Circular Book';
    margin: 0;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}

.header {
    height: 80px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.08);
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;

    &__logo, &__nav {
        flex: 1 0 140px;
    }

    &__search {
        display: flex;
        border-radius: 24px;
        align-items: center;
        overflow: hidden;
        border: 1px solid var(--gray-med);
        transition: box-shadow 0.2s ease;

        &:hover {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
        }

        button {
            background: transparent;
            height: 48px;
            padding: 0 16px;
            display: flex;
            align-items: center;
            border: none;
            font-family: 'Circular Medium';

            &:first-of-type {
                padding-left: 24px;
            }
            &:last-of-type {
                padding-right: 7px;
            }
        }

        span {
            width: 1px;
            height: 24px;
            background-color: var(--gray-med);
        }
    }

    &__searchIcon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--pink);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 16px;

        img {
            width: 12px;
            height: 12px;
        }
    }

    &__nav {
        display: flex;
        justify-content: flex-end;

        &__button {
            background:transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 16px;
            border-radius: 22px;
            cursor: pointer;
            text-decoration: none;
            color: rgb(34, 34, 34);
            height: 48px;

            &-lang {
                img {
                    &:first-child {
                        width: 16px;
                        height: 16px;
                    }
                    &:last-child {
                        width: 9px;
                        height: 6px;
                        margin-left: 6px;
                    }
                }
            }

            &-account {
                border: 1px solid var(--gray-med);
                height: 42px;
                border-radius: 22px;
                padding-right: 8px;
                padding-left: 8px;
                transition: box-shadow 0.2s ease;

                &:hover {
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
                }
                img {
                    &:first-child {
                        width: 16px;
                        height: 16px;
                    }
                    &:last-child {
                        width: 30px;
                        height: 30px;
                        margin-left: 12px;
                    }
                }
            }

            &-hoverGray {
                transition: all 0.2s ease;
                &:hover {
                    background: var(--grey-light);
                }
            }
        }
    }
}

// MAIN CONTENT
.main {
    display: flex;
    position: relative;
    padding-top: 80px;

    &__content {
        min-height: calc(100vh - 80px);
        width: 840px;
        padding: 60px 24px 20px;

        h1 {
            margin-top: 18px;
            font-size: 34px;
        }
    }

    &__filters {
        padding-top: 15px;
        button {
            margin-right: 6px;
        }
    }

    &__scarcity {
        display: flex;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;

        img {
            margin-right: 15px;
        }
        
        div {
            span {
                font-family: 'Circular Bold';
            }
        }
    }

    &__map {
        background: pink;
        width: calc(100% - 840px);

    }
    &__googleMap {
        height: 100%;
    }
}

button {
    padding: 8px 16px;
    outline: none;
    background: transparent;
    margin: 0;

    &.outlined {
        border: 1px solid #b0b0b0;
        &:hover {
            border-color: var(--grey-text-dark);
        }
    }

    &.curved {
        border-radius: 30px;
    }
}

// CONTENT
.listings {
    &__item {
        border-top: 1px solid #ebebeb;
        padding: 24px 0;
        display: flex;

        &:hover {
            .listings__image {
                button {
                    opacity: 0.7;
                }
            }
        }
    }

    &__image {
        width: 300px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        &-supperHost {
            &::before {
                position: absolute;
                content: "SUPERHOST";
                background-color: #fff;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
                border-radius: 4px;
                padding: 4px 8px;
                top: 10px;
                left: 10px;
                letter-spacing: 0.48px;
                font-size: 12px;
                font-family: 'Circular Medium';
                text-transform: uppercase;
            }
        }

        button {
            position: absolute;
            top: 50%;
            width: 32px;
            height: 32px;
            background: #fff;
            border-radius: 50%;
            overflow: hidden;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
            transform: translateY(-50%);
            opacity: 0;
            transition: opacity 0.2s ease-in;

            img {
                width: 10px;
                height: 10px;
            }

            &:first-of-type {
                left: 10px;
            }
            &:last-of-type {
                right: 10px;
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        width: calc(100% - 300px);
        padding-left: 15px;
        display: flex;
        flex-direction: column;

        &__description {    
            padding-top: 15px;

            span {
                display: inline-block;
                margin: 0 8px 0 5px;
            }
        }

        &__details {
            margin-top: auto;
        }
    }

    &__content__details {
        display: flex;
        justify-content: space-between;
    }
    &__price {
        text-align: right;

        &__night {
            margin-bottom: 2px;
            font-size: 16px;
            font-family: 'Circular Bold';
            span {
                font-family: 'Circular Book';
                color: #484848;
                font-weight: 400;
                font-size: 14px;
            }
        }
        &__total {
            font-size: 14px;
            color: var(--grey-text-light);
            text-decoration: underline;
        }
    }
    &__ratings {
        display: flex;
        margin-top: auto;
        img {
            width: 14px;
            margin-right: 4px;
        }
        div {
            font-family: 'Circular Medium';
            span {
                font-family: 'Circular Book';
                color: var(--grey-text-light);
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &__title {
            h2 {
                font-size: 18px;
                font-family: 'Circular Medium';
                color: var(--gray-text-drak);
                margin: 5px 0 10px;
                font-weight: 400;
            }
        }
        &__icon {
            button {
                background: none;
                border: none;
                outline: none;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s ease;
    
                &:hover {
                    &:after {
                        opacity: 1;
                        z-index: 1;
                    }
                    img {
                        z-index: 2;
                        cursor: pointer;
                    }
                }
                &:after {
                    cursor: pointer;
                    position: absolute;
                    content: '';
                    background: var(--grey-light);
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    z-index: -1;
                    opacity: 0;
                }
            }
        }
    }
}

.gray__text {
    color: var(--grey-text-light);
    font-family: 'Circular Light';
}

.seperator {
    width: 32px;
    height: 1px;
    background: var(--gray-med);
    display: block;
}

.footer {
    background: var(--grey-light);
    border-top: 1px solid var(--gray-med);
    padding: 30px 150px;

    &__container {
        display: flex;
        margin: auto;
        justify-content: space-between;

        h4 {
            text-transform: uppercase;
            font-size: 14px;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                padding: 6px 0;
                font-family: 'Circular Book';

                a {
                    text-decoration: none;
                    color: var(--grey-text-light);
                    transition: color 0.3s ease;
                    font-family: 'Circular Book';

                    &:hover {
                        text-decoration: underline;
                        color: var(--pink);
                    }
                }
            }
        }
    }
}


#map {
    height: 100%;
    width: 100%;
}